<html>
  <body>
	<form class="form-2" method="post" action="{{ path("_login_check") }}">
    	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
		<h1><span class="log-in">Log in</span></h1>
		{% if error %}
		<p>
			{{ error }}
		</p>
		{% endif %}
		<p class="float">
			<label for="_username"><i class="icon-user"></i>Username</label>
			<input type="text" name="_username" placeholder="Username or email">
		</p>
		<p class="float">
			<label for="password"><i class="icon-lock"></i>Password</label>
			<input type="password" name="_password" placeholder="Password" class="showpassword">
		</p>
		<input type="submit" name="_submit" value="Log in">
	</form>
  </body>
</html>
