{% block body %}
  <form action="{{ path("_login_check") }}" method="post">
{% if error %}
  <div>{{ error|trans({}, 'ClioOAuth2ClientBundle') }}</div>
{% endif %}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <dl class="login-field">
      <dt>
        <label for="username">ID：</label>
      </dt>
      <dd>
        <input type="text" id="username" name="_username" value="" required />
      </dd>
      <dt>
        <label for="password">パスワード：</label>
      </dt>
      <dd>
        <input type="password" id="password" name="_password" required />
      </dd>
    </dl>

	<input type="submit" value="submit"/>
  </form>
{% endblock body %}

