<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>
            {% block terpsichore_oauth_server_content %}
            {% endblock terpsichore_oauth_server_content %}
        </div>
    </body>
</html>
